black
chex
dataclasses-json
flax
h5py
huggingface-hub
isort
jax[cuda12]
jupyter
jupyter_http_over_ws
matplotlib
mypy
numpy
pandas
plotly
protobuf
pytest
requests
seaborn
statsmodels
torch
tqdm
transformers
types-requests
python-dotenv
